body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #222a33;
  color: #fff;
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.usage {
  margin-top: 20px;
  text-align: center;
  color: #007bff;
}

.cpu-usage {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  transition: opacity 1s ease-in-out;
}

.cpu-usage.active {
  opacity: 1;
}

.mem-usage {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.custom-select {
  padding: 8px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 10px;
}

input {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #0b2036;
  color: #fff;
  cursor: pointer;
  min-width: 150px;
}

input:hover {
  background-color: #114115;
}
