@import "../../styles/responsive.scss";

.appList {
  h1 {
    margin-bottom: 20px;

    @include xxl {
      font-size: 24px;
    }
  }

  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
    }
  }
}
